@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;700&family=Roboto:ital,wght@1,700&display=swap");

@font-face {
  font-family: "Angel rhapsody";
  src: url("font/Angel rhapsody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-color: #201d18;
  --second-color: #DB9F6A;
  --body-color: #d0fcff;
  --font-color-header: rgba(255, 244, 235, 0.8);

  --main-font: "AR One Sans", sans-serif;
  --heading-font: "Angel rhapsody", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url("image/bg.jpg");
}

.container {
  max-width: 1520px;
}

.navbar .nav-wrapper {
  margin: auto;
  position: relative;
  align-items: center;
}

.nav-wrapper .menu {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: var(--main-color);
  gap: 50px;
  height: 104px;
  justify-content: center;
  margin-top: 50px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  backdrop-filter: blur(15px);
}

.menu .menu-item {
  color: var(--font-color-header);
  font-weight: bold;
  font-family: var(--main-font);
  font-weight: 400;
}

section {
  margin-top: 50px;
}

.head-wrapper {
  margin: auto;
}
.head-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.head-content .left-content {
  flex: 0 0 30%;
}
.head-content .right-content {
  flex: 0 0 50%;
}


.head-content .left-content .head-title{
    font-family: var(--heading-font);
    color: white;
    font-size: 7rem;
    letter-spacing: -2.24px
}
.head-content .left-content .head-title .head-span{
color: #DB9F6A;
}
